.big-block {
  color: #28a745;
  flex: 1;
  
}
.big-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch; 
  align-content: stretch;
  height: -webkit-fill-available;
}

.router-view {
  height: auto; 
}


  

.gradient-nav {
  background: linear-gradient(135deg,#e4067e 10%,#342b60);
  color: white;
}
#parent_div_1{
  display:flex;
}

.event_create_container {
  flex: 0 0 100%;
  max-width: 100%;
}

.event-column {
  width: -webkit-fill-available;
}

.event-column .form-group {
  margin-right: 5px;
}

.card {
  background-color: transparent ;
}

.card h4, .card h5, .form-signin {
  color: black;
}
.jumbotron {
  background-color: inherit;
}
